.body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 3rem auto;
}

.box{
  width: 30%;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.box img{
  width: 80% !important;
  margin: 0 auto;
}