.body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 3rem auto 0;
}

.box {
  width: 32%;
  margin-bottom: 2rem;
}

.box img {
  margin: 0 auto;
  height: 200px !important;
  object-fit: cover;
}

.box h1 {
  font-size: 20px;
  line-height: 26px;
  color: #ffc222;

  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  margin: 0;
}

.box h2 {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: #262626;
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.box h2 strong {
  color: #ffc222;
  margin: 0;
}
.box h4{
  font-size: 18px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  }
  .box h4 a{
    color:#262626 ;
  
  }

.box h5 {
  font-size: 18px;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  color: #161619;

}

.box h3 {
  font-size: 18px;
  margin-top: 0.5rem;

}
@media screen and (max-width: 600.9px) {
  .body {
    width: 90%;
    flex-direction: column;
    margin: 1rem auto;
  }

  .box {
    width: 100%;
  }

  .box h1 {
    font-size: 18px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .body {
    width: 90%;
  }
  .box {
    width: 45%;
  }

  .box h1 {
    font-size: 20px;
  }
  .box h2 {
    font-size: 18px;
  }
}
